* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

/* .line-graph,
.bar-graph,
.pie-graph {
  width: 100%;
} */

/* Layout */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}


header {
  grid-area: header;
  background-color: #6561c7;
  display: flex;
  align-items: center;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
  background-color: #4c4e91;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* dashboard header */

.main-header {
  grid-area: main-header;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.headline {
  padding-top: 20px;
}

.main-header-search {
  margin-left: auto;
  padding-top: 20px;
}

.main-header-search input {
  height: 35px;
  width: 250px;
}


/* Graph style */

.traffic {
  padding: 20px;
  border-bottom: 1px solid #6561c7;
  grid-area: traffic;
}

.traffic-header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.traffic-nav {
  display: flex;
}

.traffic-header h3 {
  margin-right: auto;
}

.traffic-nav li {
  padding-left: 25px;
}

.daily {
  padding: 20px;
  grid-area: daily;
}

.widget-container-full {
  background-color: yellow;
  width: 90vw;
  margin: 0 auto;
}

.widget-container-half {
  padding-top: 20px;
  background-color: yellow;
  width: 90vw;
  margin: 0 auto;
}

.mobile {
  padding: 20px;
  border-top: 1px solid #6561c7;
  grid-area: mobile;
}


/* Social style */

.social-stats {
  border-top: 1px solid #6561c7;
  padding: 20px;
  grid-area: social-stats;
}

.social-container {
  display: flex;
  border: 1px solid #6561c7;
  border-radius: 5px;
  align-items: center;
  padding: 15px 15px 15px 40px;
  margin: 15px;
}

.social-icon {
 height: 50px;
 width: 50px;
 padding-right: 20px;
}

.social-text p:nth-child(1) {
  font-weight: 500;
}

.social-text p:nth-child(2) {
  font-size: 30px;
  font-weight: 100;
}

.twitter {
  grid-area: twitter;
}

.google {
  grid-area: google;
}

.facebook {
  grid-area: facebook;
}

/* new members/recent activity */

.members {
  border-top: 1px solid #6561c7;
  padding: 20px;
}


.members-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile-image {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  margin-right: 15px;
}

.members-text {
  margin-right: auto;
}

/* message */

.message {
  padding: 20px;
  border-top: 1px solid #6561c7;
}

.widget-container {
  display: flex;
  flex-direction: column;
}

.form-field {
  height: 35px;
  border-radius: 5px;
  margin: 15px 0 0;
}

.form-area {
  height: 100px;
  border-radius: 5px;
  margin: 15px 0 0;
}

.button-primary {
  height: 30px;
  border-radius: 5px;
  margin: 15px 0 0;
}

/* settings */

.settings {
  padding: 20px;
  border-top: 1px solid #6561c7;
  display: flex;
  flex-direction: column;
}

.toggle {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.toggle p {
  width: 33%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* END */

.settings-button {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.settings-button button {
  width: 47%;
}

.button-disabled {
  height: 30px;
  border-radius: 5px;
  margin: 15px 0 0;
}

.stat-title {
  grid-area: stat-title;
}


.title {
  margin-right: auto;
  padding-left: 20px;
}

.notificationIcon {
  padding: 15px;
  border-right: 2px solid #4c4e91;
}


.profileName {
  padding-right: 20px;
}

.navIcon {
  height: 40px;
  width: 40px;
  padding: 10px 0;
  margin: 0 15px;
}

.notificationIcon,
.accountImg {
  height: 35px;
  width: 35px;
}

.accountImg {
  border-radius: 100%;
  padding: 10px;
}




.profileName,
.title {
  color: white;
}



.alert {
  background: #6561c7;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 20px;
  grid-area: alert;
}


.members {
  grid-area: members;
}

.activity {
  grid-area: activity;
}

.message {
  grid-area: message;
}

.settings {
  grid-area: settings;
}




/* Media Queries */

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
    grid-template-areas:
    "main-header main-header"
    "alert alert"
    "traffic traffic"
    "daily daily"
    "mobile mobile"
    "social-stats social-stats"
    "members activity"
    "message settings";
  }


  nav {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
  }

  .navIcon {
    height: 25px;
    width: 25px;
  }

  .widget-container-half,
  .widget-container-full {
    width: 87vw;
  }

  .mobile {
    border-top: 1px solid #6561c7;
  }

  .social-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      "stat-title stat-title stat-title"
      "twitter facebook google";
    }

    .activity {
      border-left: 1px solid #6561c7;
    }

    .settings {
      border-left: 1px solid #6561c7;
    }
  }

  @media (min-width: 1024px) {

    main {
      grid-template-areas:
      "main-header main-header"
      "alert alert"
      "traffic traffic"
      "daily mobile"
      "social-stats social-stats"
      "members activity"
      "message settings";
    }

    .mobile {
      border-top: none;
      border-left: 1px solid #6561c7;
    }

    .widget-container-half {
      width: 40vw;
    }

  }
